#main{
  z-index: -1;
  backround-color: grey:
  height: 100%;
  width: 100%;
}

#top{
  z-index: 1;
  backround-color: red:
  height: 10em;
  width: 90%;
}

#nav{
  backround-color: blue:
}

#area{
  backround-color: brown:
}

#side{
  backround-color: yellow:
}

#bottom{
  backround-color: green:
}
