html, body { 

	height: 88%; 
	width: 88%;
	margin: 0; 
	padding-left: 6%;
	padding-right: 6%;

}

#top{
  	background-color: red;
  	height: 60px;
  	width: 100%;
	margin-bottom: 10px;
	align: center;
}

ul.nav{
  	list-style-type: none;

}

li{

	cursor: pointer;
	border: 2px solid black;
	float: left;
	margin-top: 15px;
	margin-left: 5px;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px; 
	display: block;

}

li#home{

	width: auto;
	height: 30px;
	background-color: blue;
	/*opacity: 0.50;*/
	color: white;


}

li#about{
  	height: 30px;
  	width: auto;
	background-color: blue;
	color: white;

}

li#examples{
  	height: 30px;
  	width: auto;
	background-color: blue;
	color: white;

}

#leftBar{
	
	float: left;
  	background-color: yellow;
	border: 2px solid black;
	height: 300px:
	width: 300px;
	margin-bottom: 10px;
}

#content{
	
	float: right;
  	background-color: orange;
	border: 2px solid orange;
	height: 40%:
	width: 40px;
	margin-bottom: 10px;

}

#bottom{

  	background-color: green;
	height: 30px;
	width: auto;
	clear: both;
	margin-top: 10px;
}
