#top{
  	background-color: red;
  	min-height: 50px;
  	min-width: 90%;
}

ul.nav{
  	list-style-type: none;

}

li{

	cursor: pointer;
	border: 2px solid black;
	display: inline-block;
	postition: relative;
	margin-top: 10px;


}

li#home{

	border: 2px solid black;
	width: auto;
	height: 30px;
	background-color: blue;
	opacity: 0.50;
	color: white;

}

li#about{
  	height: 30px;
  	width: auto;
}

li#examples{
  	height: 30px;
  	width: auto;
}

#area{

}

#leftBar{

  	background-color: yellow;
}

#content{
  

}

#bottom{

  	background-color: green;
}
